<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires your location to enhance your travel experience by providing weather updates.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires your location to enhance your travel experience by providing weather updates.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-color</string>
		<key>UIImageName</key>
		<string>launch-icon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
