<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photo library to let you choose a custom banner image for your list.</string>
	<key>UNSPLASH_SECRET_KEY</key>
	<string>$(UNSPLASH_SECRET_KEY)</string>
	<key>UNSPLASH_ACCESS_KEY</key>
	<string>$(UNSPLASH_ACCESS_KEY)</string>
	<key>CKSharingSupported</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-color</string>
		<key>UIImageName</key>
		<string>launch-icon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
